<label style="float: right; padding: 10px">
  <b>View: </b>
  <select #viewSelect (change)="viewChange($event)">
    <option selected>Week</option>
    <option>Day</option>
  </select>
</label>

<full-calendar #calendar defaultView="timeGrid{{viewSelect.value}}"
               [header]="{left: '', center: '', right: 'today prev,next'}"
               [columnHeaderFormat]="{weekday: 'short', day: '2-digit', month: '2-digit', omitCommas: true}"
               [allDaySlot]="false"
               [eventTimeFormat]="{hour: 'numeric', minute: '2-digit', hour12: false}"
               [slotLabelFormat]="{hour: 'numeric', minute: '2-digit', hour12: false}"
               [editable]="false"
               [timeZone]="'CEST'"
               [height]="'auto'"
               [minTime]="'07:00'"
               [maxTime]="'20:00'"
               [plugins]="calendarPlugins"
               [weekends]="false"
               [firstDay]="7"
               [events]="events">
</full-calendar>

<button (click)="settingsModal.open()">Settings</button>

<ngx-smart-modal #lessonModal *ngIf="selected != undefined" [identifier]="'lessonModal'">
  <app-popup [lesson]="selected"></app-popup>
</ngx-smart-modal>

<ngx-smart-modal #settingsModal [identifier]="'settingsModal'">
  <label>
    <span>Klas Codes (comma-seperated): </span>
    <input id="class-codes" value="{{settings}}">
    <button (click)="settingsSave()">Save</button>
  </label>
</ngx-smart-modal>
